<a role="button" href="#" class="btn edit-badge" data-color="<%= color %>" data-icon="<%= icon %>" style="color: <%= color %>;" aria-label="Edit <%= name %> badge"><%= name %></a> <a role="button" href="#" class="btn btn-mini delete-badge" aria-label="Delete <%= name %> badge"><strong>X</strong> Delete</a>
