<%
# Copyright (C) 2014 - present Instructure, Inc.
#
# This file is part of Rollcall.
#
# Rollcall is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Rollcall is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>
<%= render "header", course_id: @section.course_id %>

<div class="sections-select">
  <button id="sections-select-modal">
    <div class='name-container'>
      <%= @section.name %>
    </div>
    <i class="fa fa-angle-down"></i>
  </button>
  <select id='section_select'>
  <% @sections.each do |section| %>
    <option value='<%= section.id %>' <%= 'selected' if section.id == @section.id %>>
      <%= sanitize section.name %>
    </option>
  <% end %>
  </select>

</div>

<%= render 'section_list_modal', :locals => {:sections => @sections} %>

<div id="statuses" class="clearfix"></div>

<%= render 'backbone_init' %>
