<%
# Copyright (C) 2014 - present Instructure, Inc.
#
# This file is part of Rollcall.
#
# Rollcall is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Rollcall is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>
<section class="last">
  <ul class="unstyled-list sections-list clearfix" role="tablist" aria-label="Report options">
    <li role="tab" 
        id="generate-report-tab"
        tabindex="<%= params[:action] == "new" ? "0" : "-1" %>"
        aria-controls="generate-report-panel"
        aria-labelledby="generate-report-link"
        <%= params[:action] == "new" ? 'class="active-section" aria-selected="true"'.html_safe : 'aria-selected="false"'.html_safe %>>
      <%= link_to "Generate report", new_report_path(account_id: @account_id || @canvas_account_json['id']), id: "generate-report-link" %>
    </li>
    <li role="tab"
        id="manage-badges-tab"
        tabindex="<%= params[:action] == "badges" ? "0" : "-1" %>"
        aria-controls="manage-badges-panel"
        aria-labelledby="manage-badges-link"
        <%= params[:action] == "badges" ? 'class="active-section" aria-selected="true"'.html_safe : 'aria-selected="false"'.html_safe %>>
      <%= link_to "Manage badges", badges_account_path(id: @account_id || @canvas_account_json['id']), id: "manage-badges-link" %>
    </li>
  </ul>
</section>
